@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Job listing web application built using ASP.NET Core and the GitHub Jobs API. Click <a id="listings" href="/Jobs">HERE</a> to see job listings or the job listings link from the navigation bar</p>
</div>
